<h1>Here is a list of all users:</h1>

<table border="2">
	<tr>
		<th>Name</th>
		<th>Age</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.name, show_user_path(id: user.id) %></td>
			<td><%= user.age %></td>
			<td><%= link_to 'Edit', edit_user_path(id: user.id) %></td>
		</tr>
	<% end %>
</table>

<p><%= link_to "Back to Home Page", root_path %></p>